 <div id="main">
      <h1>Search For Star Wars Character</h1>
      <label>Name:<input type='text' class='input'></label>
      <button>Send Data</button>
    </div>
    <div class="image">
      <div id="img-div">
      {{#each DB}}

        <img id="imgs" src={{this.url}}>      

      {{/each}}

      </div>

    </div>